<p id="notice"><%= notice %></p>

<p>
  <strong>Table1col:</strong>
  <%= @table1_copy3.table1col %>
</p>

<p>
  <strong>Table1col1:</strong>
  <%= @table1_copy3.table1col1 %>
</p>

<%= link_to 'Edit', edit_table1_copy3_path(@table1_copy3) %> |
<%= link_to 'Back', table1_copy3s_path %>
